@model IEnumerable<ProductEntity>

<br />

<table class="table tabletable-responsive table-light table-bordered" style="width: 100%">
    <tr>
        <th>Product name</th>
        <th>Rate</th>
        <th>Quantity</th>
        <th>Product Image</th>
        <th>Total</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Product</td>
            <td>@item.Rate</td>
            <td>@item.Quantity</td>
            <td><img src="@item.ImagePath" style="width:130px;height:140px" /></td>
            <td>@(item.Rate * item.Quantity)</td>

        </tr>
    }
</table>

<p>
    <a asp-action="CheckOut" asp-controller="CheckOut">Check out</a>
</p>
